body{
background-color:lightgreen;
}

h1{
color: blue;
background-color: yellowgreen;
}

#show_sketch{
float: right;
color: blue;
font-size: 18px;;
background-color: lightcoral;
}

canvas{
border:5px solid white;
border-radius: 20px;
animation-name: example;
animation-duration: 4s;
margin-top:50px;
animation-iteration-count: infinite;
}

@keyframes example{
from{box-shadow: 1px 1px 38px blue;}
to {box-shadow: 1px 1px 38px red;} 
}

p{
padding-top: 12px;
font-size: 25px;
}